<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Wiki<b>Map</b></a>
    <div class="navbar-nav ml-auto">
      <a href="/api/login"><button class="btn btn-outline-light my-2">Log in</button></a>
      <a href="/api/register"><button class="btn btn-outline-light my-2 ml-2">Register</button></a>
    </div>
  </nav>
</header>


