<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="/urls">Wiki<b>Map</b></a>

    <div class="navbar-nav ml-auto">
      <a href="/login"><button class="btn btn-outline-light my-2">Sign in</button></a>
      <a href="/register"><button class="btn btn-outline-light my-2">Register</button></a>
    </div>
  </nav>
</header>
