<header>
  <nav class="navbar">
    <a class="navbar-brand" href="/urls">Wiki Map</a>

    <a href="/login"><button>Sign in</button></a>
    <a href="/register"><button >Register</button></a>
  </nav>
</header>
