<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/map.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <!--The div element for the map -->
  <div class="index">
    <div id="map"></div>
    <div class="maps">
      <div class="list-group">
        <h3>All Maps</h3>
        <% for(let map in maps) { %>
          <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <%= map.title %>
            <span class="badge badge-primary badge-pill">14</span>
          </a>
        <% } %>
      </div>
      <% if ( user ) { %>
        <a href="/api/maps_add"><button class="btn btn-outline-primary my-2">Create map</button></a>
      <% } %>
    </div>
  </div>
  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9gDWdzjWJYNVEY7Suc0jHh9-aZ4F8JK4&callback=initMap&libraries=&v=weekly"
    async></script>
</body>

</html>
