/* Set the size of the div element that contains the map */
#map {
  height: 90vh;
  width: 80%;
}

nav {
  height: 10vh;
}

main {
  padding: 1em;
}
card {
  width: 50%;
}

.maps{
  width: 50%;
  padding: 5px;
}

.index {
  display: flex;
  flex-direction: row;
}

h3 {
  text-align: center;
}


